# ======================
# 数据库配置
# ======================
DB_USERNAME=root
DB_PASSWORD=stardew123

# ======================
# 端口映射（可选）
# ======================
# FRONTEND_PORT=9999
# BACKEND_PORT=18080
# MYSQL_PORT=13307
